@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html {
  font-size: 10px;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  background-color: hsl(0, 0%, 98%);
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
}
/* general styling */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav ul {
  padding: 1rem 0;
}
#navbarSupportedContent > ul > li:nth-child(n) > a {
  padding: 0 2rem;
  color: #000;
  opacity: 0.6;
  position: relative;
}
/* nav ul li {
  position: relative;
} */
nav ul a::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -3px;
  width: 40px;
  height: 2px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

nav ul a:hover::before {
  transform: scaleX(1);
}
nav .btn {
  border: 0;
  border-radius: 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 1rem 3.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
/* showcase section */
.showcase {
  overflow-x: hidden;
  padding: 3rem 0;
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: 500px 10px;
  background-size: cover;
}
.showcase h2 {
  font-weight: 700;
  font-size: 4rem;
  padding: 1rem 0;
}
.showcase p {
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.5;
}
.showcase .img-container {
  transform: translateX(190px);
}
.showcase img {
  width: 50rem;
}
.showcase .btn {
  border: 0;
  border-radius: 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 1rem 3.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
/* services section */
.services {
  background-color: hsl(220, 16%, 96%);
  padding: 13rem 0 4rem;
  margin-top: -20rem;
}
.services h2 {
  font-weight: 700;
  font-size: 3rem;
}
.services h3 {
  font-weight: bold;
  padding: 2rem 0;
}
.services p {
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.5;
}
/* articles section */
.articles {
  width: 100%;
  padding: 8rem 0 2rem;
}
.articles h2 {
  padding: 0 0 3rem;
  font-weight: 700;
  font-size: 2.6rem;
}
.articles .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.articles .cards-container .carda {
  background-color: #fff;
}
.articles .image-container {
  width: 25rem;
  height: 25rem;
}
.articles .image-container img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.articles .cards-container .card-contents {
  padding: 0 2rem 2rem;
}
.articles .cards-container .card-contents .small {
  font-size: 1.2rem;
  opacity: 0.5;
}
.articles .cards-container .card-contents h3 {
  font-weight: 700;
  padding: 1rem 0;
}
.articles .cards-container .card-contents p {
  font-size: 1.4rem;
  opacity: 0.5;
}
/* footer section */
.footer {
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
}
.footer a {
  color: hsl(0, 0%, 100%);
}
.footer .icons {
  padding: 7rem 0 0;
}
.footer .icons img {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.footer li {
  padding-bottom: 2rem;
  opacity: 0.6;
}
.footer button {
  border: 0;
  border-radius: 2rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 1rem 3.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
.footer p {
  padding: 6rem 0 0;
  margin-left: -2rem;
  opacity: 0.6;
}
@media screen and (max-width: 1024px) {
  body {
    text-align: center;
  }
  /* showcase */
  .showcase {
    overflow-x: hidden;
    padding: 1rem 0 5rem;
    margin-bottom: 3rem;
  }
  #showcase-content {
    flex-direction: column !important;
  }
  .showcase .img-container {
    order: -1 !important;
    transform: translateX(0px);
    width: 80rem;
  }
  .showcase img {
    max-width: 100%;
  }
  .showcase p {
    padding: 2rem 0;
  }
  /* services section */
  .services {
    background-color: hsl(220, 16%, 96%);
    padding: 8rem 0 4rem;
    margin-top: 0rem;
    text-align: left;
  }
  .services h2 {
    font-weight: 700;
    font-size: 3rem;
  }
  .services h3 {
    font-weight: bold;
    padding: 2rem 0;
  }
  .services p {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.5;
  }
  /* articles */
  .articles .cards-container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem 2rem;
  }
}
@media screen and (max-width: 992px) {
  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 0.5rem 0;
  }
  nav ul a:hover::before {
    transform: scaleX(0);
  }
}
@media screen and (max-width: 768px) {
  /* nav section */
  nav {
    padding: 2rem 2rem;
  }
  #navbarSupportedContent > button {
    display: none;
  }
  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 0.5rem 0;
  }
  /* footer section */
  .footer {
    text-align: left;
  }
  .footer .icons {
    padding: 3rem 0 0;
  }
  .footer .icons img {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .footer li {
    padding-bottom: 2rem;
    opacity: 0.6;
  }
  .footer .btn {
    border: 0;
    border-radius: 3rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    /* margin-left: 2rem; */
  }
}

@media screen and (max-width: 576px) {
  body {
    text-align: center;
  }
  /* showcase section */
  .showcase {
    overflow-x: hidden;
    padding: 3rem 0;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: 10px -10px;
    background-size: cover;
  }
  .showcase p {
    padding: 0 1rem;
  }
  /* services section */
  .services {
    padding: 8rem 2rem 4rem;
    text-align: center;
  }
  .services h2 {
    font-weight: 700;
    font-size: 2.5rem;
  }
  .services h3 {
    font-weight: bold;
    padding: 2rem 0;
  }
  .services p {
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.5;
  }
  /* articles */
  .articles {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
  }
  .articles .cards-container {
    grid-template-columns: 1fr;
    gap: 4rem 2rem;
  }
  .articles .image-container {
    width: initial;
    height: initial;
  }
  .articles .cards-container .card-contents .small {
    padding: 1rem 0 0;
    font-size: 1.2rem;
    opacity: 0.5;
  }
  /* footer */
  .footer {
    text-align: center;
  }
  .footer .icons {
    padding: 2rem 0;
  }
  .footer p {
    padding: 4rem 0;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  /* showcase */
  .showcase h2 {
    font-size: 3rem;
  }
  .showcase p {
    padding: 0 1rem 3rem;
  }
}
